.app {
	font-family: 'Indie Flower', cursive;
	max-width: 1440px;
	height: 100vh;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	transition: all 0.3s ease-in;
	background-image: url("./assets/gradient.svg");
}